.home{
    height: 100vh;
    padding-bottom: 100px;
}

.homeLinks{
    padding: 20px;
}

.projectText{
    margin-top: 55px;
    margin-bottom: 50px;
}

.projectImg{
    width: 130px;
    height: 130px;
}

.carleton{
    margin-top: 35px;
    width: 270px;
    height: 90px;
}

body{
    background-color:#2e3440;
}

p{
    color: #8FBCBB;
    font-family: 'Inter', sans-serif;
}

a{
    color: #8FBCBB;
    font-family: 'Inter', sans-serif;
}

h4{
    color: #88C0D0;
    font-family: 'Inter', sans-serif;
}

h2{
    color: #81A1C1;
    font-family: 'Inter', sans-serif;
}

.navbar-custom{
    background-color: #202020;
}

.projects{
    background-color: #3B4252;
}

.experience{
    background-color: #4C566A;
}