.home{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('./images/misc/city2.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}


.homeLinks{
    padding: 30px;
    text-decoration: none;
}

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}

body{
    background-color:#FBFAF5;
}

p{
    font-family: 'Inter', sans-serif;
}

.navbar-custom{
    background-color: #202020;
}

@media (min-width: 359px) and (max-width: 767px){
    

    .mobileImage{
        padding-top: 50px;
    }
    
    .mobileLine{
        color: #333;
        background-color: #333
    }
    
    .aboutleft, .aboutright{
        text-align: center;
    }


    #first{
        order: 1;
    }

    #second{
        order: 2;
    }
    
}

@media(min-width: 767px){
    .mobileLine{
        border-bottom: 0px;
        width: 400px;
        color: #333;
        background-color: #333;
    }
    .mobileImage{
        padding-top: 0px;
    }

    .aboutleft{
        text-align: left;
    }

    .aboutright{
        text-align: right;
    }

}